* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  /* body{
    background-image: url(/project-3/images/background-image-1.webp);
  } */
  /* navbar container */
  .navbar {
    background-image: url("/project-3/images/navbar-image.webp");
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    height: auto;
  }
  .content ul li {
    list-style: none;
    display: inline;
    margin: 20px;
    font-size: 20px;
  }
  .content ul li a {
    text-decoration: none;
    color: white;
  }
  .content ul {
    margin-top: 30px;
  }
  .content .logo {
    list-style: none;
  }
  .content .logo img {
    width: 300px;
    height: 80px;
  }
  .login {
    cursor: pointer;
  }
  .content {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: relative;
  }
  
  /* ============== add to cart part ===================== */
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
  
  .nav {
      max-width: 1200px;
      margin: auto;
      width: 100%;
      height: 50px;
      /* display: flex;
      justify-content: space-between;
      align-items: center; */
    padding-top: 15px;
  }
  
  .logo {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .box {
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    background-color: #2f3542;
    top: -5px;
    right: 0;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height:20px ;
    border-radius: 50%;
    z-index: 99;
  }
  
  #cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 13px;
  }
  
  img {
    width: 100%;
  }
  .container-3 {
    /* max-width: 1200px; */
    padding: 3rem;
    margin: auto;
    /* width: 100%; */
    background-image: url(/project-3/images/background-image-1.webp);
  }
  
  h2.title {
    font-size: 2.1rem;
    /* font-weight: 500; */
    margin-bottom: 1.5rem;
    color: black;
  }
  
  .shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
  }
  
  .gun-box {
    position: relative;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    border-radius: 3px;
  }
  
  .pic {
    overflow: hidden;
  }
  
  .pic:hover img {
    transform: scale(1.5);
  }
  
  .gun-img {
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  .gun-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #b5865d;
  }
  
  .gun-price {
    font-weight: 500;
  }
  
  .add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(46, 75, 89);
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .add-cart:hover {
    background-color: #b5865d;
  }
  
  .cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    z-index: 100;
  }
  
  .cart-active {
    right: 0;
    transition: 0.5s;
  }
  
  .cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
  }
  
  .cart-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
  }
  .detail-box {
    display: grid;
    row-gap: 0.5rem;
  }
  
  .price-box {
    display: flex;
    justify-content: space-between;
  }
  
  .cart-gun-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ff6348;
    font-weight: 500;
  }
  
  .cart-price {
    font-weight: 500;
  }
  
  .cart-quantity {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
  }
  
  .cart-remove {
    font-size: 24px;
    color: red;
    cursor: pointer;
  }
  
  .total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
  
  .total-title {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .total-price {
    margin-left: 0.5rem;
  }
  
  .btn-buy {
    padding: 12px 20px;
    background-color: #2f3542;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  #cart-close {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
  }
  
  /* ============== add to cart part end ===================== */
  .content .popup1 {
    background-color: rgb(46, 75, 89);
    background-size: cover;
    background-position: center;
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    right: 40rem;
    top: 10rem;
    display: none;
  }
  /* Login form  */
  .form-structor {
    background-color: #222;
    border-radius: 15px;
    height: 600px;
    width: 500px;
    position: relative;
    overflow: hidden;
  
    &::after {
      content: "";
      opacity: 0.8;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 500px;
      background-image: url(/project-3/images/hover-img9.jpg);
      height: 50%;
    }
    .signup {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      width: 65%;
      z-index: 5;
      -webkit-transition: all 0.3s ease;
  
      &.slide-up {
        top: 5%;
        -webkit-transform: translate(-50%, 0%);
        -webkit-transition: all 0.3s ease;
      }
  
      &.slide-up .form-holder,
      &.slide-up .submit-btn {
        opacity: 0;
        visibility: hidden;
      }
  
      &.slide-up .form-title {
        font-size: 1em;
        cursor: pointer;
      }
  
      &.slide-up .form-title span {
        margin-right: 5px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.3s ease;
      }
  
      .form-title {
        color: #fff;
        font-size: 1.7em;
        text-align: center;
  
        span {
          color: rgba(0, 0, 0, 0.4);
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s ease;
        }
      }
  
      .form-holder {
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        margin-top: 50px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.3s ease;
  
        .input {
          border: 0;
          outline: none;
          box-shadow: none;
          display: block;
          height: 30px;
          line-height: 30px;
          padding: 8px 15px;
          border-bottom: 1px solid #eee;
          width: 100%;
          font-size: 12px;
  
          &:last-child {
            border-bottom: 0;
          }
          &::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }
  
      .submit-btn {
        background-color: rgba(0, 0, 0, 0.4);
        color: rgba(256, 256, 256, 0.7);
        border: 0;
        border-radius: 15px;
        display: block;
        margin: 15px auto;
        padding: 15px 45px;
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.3s ease;
  
        &:hover {
          transition: all 0.3s ease;
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  
    .login {
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 5;
      -webkit-transition: all 0.3s ease;
  
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: -20px;
        -webkit-transform: translate(-50%, 0);
        background-color: #fff;
        width: 200%;
        height: 250px;
        border-radius: 50%;
        z-index: 4;
        -webkit-transition: all 0.3s ease;
      }
  
      .center {
        position: absolute;
        top: calc(50% - 10%);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        width: 65%;
        z-index: 5;
        -webkit-transition: all 0.3s ease;
  
        .form-title {
          color: #000;
          font-size: 1.7em;
          text-align: center;
  
          span {
            color: rgba(0, 0, 0, 0.4);
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.3s ease;
          }
        }
  
        .form-holder {
          border-radius: 15px;
          background-color: #fff;
          border: 1px solid #eee;
          overflow: hidden;
          margin-top: 50px;
          opacity: 1;
          visibility: visible;
          -webkit-transition: all 0.3s ease;
  
          .input {
            border: 0;
            outline: none;
            box-shadow: none;
            display: block;
            height: 30px;
            line-height: 30px;
            padding: 8px 15px;
            border-bottom: 1px solid #eee;
            width: 100%;
            font-size: 12px;
  
            &:last-child {
              border-bottom: 0;
            }
            &::-webkit-input-placeholder {
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }
  
        .submit-btn {
          background-color: #6b92a4;
          color: rgba(256, 256, 256, 0.7);
          border: 0;
          border-radius: 15px;
          display: block;
          margin: 15px auto;
          padding: 15px 45px;
          width: 100%;
          font-size: 13px;
          font-weight: bold;
          cursor: pointer;
          opacity: 1;
          visibility: visible;
          -webkit-transition: all 0.3s ease;
  
          &:hover {
            transition: all 0.3s ease;
            background-color: rgba(0, 0, 0, 0.8);
          }
        }
      }
  
      &.slide-up {
        top: 90%;
        -webkit-transition: all 0.3s ease;
      }
  
      &.slide-up .center {
        top: 10%;
        -webkit-transform: translate(-50%, 0%);
        -webkit-transition: all 0.3s ease;
      }
  
      &.slide-up .form-holder,
      &.slide-up .submit-btn {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease;
      }
  
      &.slide-up .form-title {
        font-size: 1em;
        margin: 0;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
      }
  
      &.slide-up .form-title span {
        margin-right: 5px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.3s ease;
      }
    }
  }
  /* Login form end */
  
  /* navbar container end */

  /* heading container */
  .heading {
    background-image: url(/project-3/images/background-image3.png);
    width: 100%;
    height: auto;
    background-color: #b5865d;
  }
  .heading p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    /* font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif; */
  }
  /* heading container end */

  .a{
    font-size: 18px;
    font-weight: bold;
    margin: 50px 0px 0px 450px;
    position: absolute;
    color: #414a5f;
  }

  /* container-1 */
  .container-1{
    display: flex;
    margin: 120px 0px 0px 450px;
  }
  .container-1a img{
    width: 100px;
    height: 100px;
    border: 2px solid #b5865d;
  }
  .container-1b img{
    width: 450px;
    height: 500px;
    margin-left: 20px;
  }
  .container-1c{
    margin-left: 20px;
  }
  .nam{
    font-weight: bold;
    font-size: 40px;
    /* width:50%; */
  }
   .modal{
    font-size: 20px;
    font-weight: bold;
    color: #2f3542;
    margin-top: 10px;
  }
   .new{
    font-weight: bold;
    font-size: 12px;
    color: white;
    background-color: rgb(89, 118, 89);
    border: 1px solid rgb(89, 118, 89);
    width: 50px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
  }
   .our{
    font-size: 20px;
    padding-top: 25px;
  }
   .price{
    font-size: 25px;
    font-weight: bold;
    color: #414a5f;
    margin-top: 5px;
  }
   .price b{
    font-size: 18px;
  }
  .save{
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
  }
  .quantity{
    border: 1px solid ;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top:10px;
    background-color: white;
    margin-top: 30px;
  }
  .container-1c button{
    height: 40px;
    width: 160px;
    margin-top: 20px;
    background-color: #b5865d;
    color: white;
    font-weight: bold;
    border-color: #b5865d;
    font-size: 15px;
  }
  /* container-1 end*/